<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Navideño</title>
</head>
<body>
    <h1>Adivinanza Navideña</h1>
    <div class="container">
        <h2>Ingrese la cantidad de veces que cree que aparece el personaje</h2>
        <input type="text" name="cantidad" id="1">
        <div class="btn-group" role="group" aria-label="grupo de botones">
            <button type="button">🎅Papa Noel</button>
            <button type="button">⭐Estrella</button>
            <button type="button">🎄Arbol</button>
            <button type="button">🎁Regalo</button>
        </div>
        
    </div>
</body>
</html>